.larger-panel {
    display: flex;
    padding: 1.2rem;
    gap: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(32, 32, 32, 0.9);
}

.panel {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-radius: 12px;
    border: 1px solid #4F4F4F;
    background: rgba(32, 32, 32, 1);
}

.temperature-dcu-container {
    display: flex;
    gap: 1rem;
}

.personal-data {
    width: 30%;
}

.suit-temperature {
    width: 35%;
}

.suit-pressure {
    flex: 1;
}

.dcu {
    flex: 1;
}

.panel-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0px;
}

.panel-header-padding {
    margin-top: 1rem;
}

.panel-header-icon {
    padding-left: 0.5rem;
    padding-right: 0.15rem;
}

.panel-header h3 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.data-section {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    padding-left: 0.5rem;
}

.pressure-grid {
    display: flex;
    gap: 1rem;
}

.pressure-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.data-row {
    display: flex;
    gap: 6px;
    padding: 4px 0;
    line-height: 1.5;
}

.data-value {
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    min-width: 3rem;
}

.data-labels {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.unit {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.label {
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.horizontal-line {
    width: 90%;
    height: 0.10rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: 0.25rem 0;
}