.sidebar {
    width: 300px;
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 100vh;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.sidebar-title {
    font-size: 16px;
}

.icon-group {
    display: flex;
    align-items: center;
}

.header-icon {
    margin-left: 5px;
    cursor: pointer;
}

.zone {
    margin-bottom: 5px;
}

.zone-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 3px 0;
}

.zone-title {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.sample-list {
    list-style-type: none;
    padding-left: 0;
}

.sample-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.sample-item:hover,
.sample-item.selected {
    background-color: #444444;
}

.sample-info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.sample-name {
    font-weight: bold;
    font-size: 12px;
}

.sample-rock-type {
    font-size: 10px;
    color: #bbb;
}

.star-icon {
    margin-left: auto;
    color: gold;
}

.map-data {
    margin-top: auto;
    display: block;
}

.map-data h4 {
    font-size: 14px;
    margin-bottom: 3px;
}

.map-data-content {
    background-color: #3a3a3a;
    border-radius: 8px;
    padding: 8px;
}

.map-data-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: flex-start;
    text-align: left;
}

.map-data-row svg {
    margin-right: 5px;
    flex-shrink: 0;
}

.data-text {
    text-align: left;
    font-size: 12px;
}

.traverse-toggle {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.traverse-toggle input[type="checkbox"] {
    margin-left: 5px;
}

.data-section {
    background-color: #3a3a3a;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
}

.map-data-title {
    text-align: left;
}