.main-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.panel {
    width: 33%;
    height: 100%;
    background-color: red;
    color: white;
}

.background-img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.background-img img {
    width: 100%;
    height: auto;
}