.vitals-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1.75rem 2.5rem 2.5rem 2.5rem;
  align-items: center;
  gap: 1.75rem;
  background-color: blue;
}

.main-content {
  display: flex;
  height: 100%; 
  width: 100%;
  gap: 1rem;
  background-color: black;
}

.middle-column {
  flex: 83;
}

.right-column {
  flex: 153;
}
