#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Avenir'; 
}

#search-bar {
    width: 100%;
    border-radius: 5px;
    height: 46px;
    background-color: #292929;
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    padding-left: 20px;    
    padding-right: 20px; 
    box-sizing: border-box; 
}

#screen-share-title {
    margin: 0;  
    padding: 0; 
}

#search-input {
    flex: 1;
    margin-left: 20px; 
    border: none; 
    height: 26px; 
    border-radius: 3px;
    width: 200px;
}

#main-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

#category-bar {
    display: flex;
    border-radius: 5px;
    flex-direction: column; 
    width: 269px !important;
    background-color: #292929; 
    padding: 10px;
    margin-top:10px;
    box-sizing: border-box;
    display: flex;
    position:sticky;
}

.category-btn {
    background-color: transparent;
    border: none;
    color: white;
    text-align: left; 
    padding: 10px;
    cursor: pointer;
    width: 100%; 
    border-radius: 5px;
    margin-bottom: 5px; 
}

.category-btn.active {
    background-color: #414141; 
    color: white;
}

.category-btn:hover {
    background-color: #555; 
}
